# Dataset Files

In [2]:
import pandas as pd
import numpy as np
from trackml.dataset import load_event
import seaborn as sns
import matplotlib.pyplot as plt
import random
from mpl_toolkits.mplot3d import Axes3D
sns.set_style("whitegrid")
pd.set_option('display.max_columns', None)

event_id = 'event000001000'

path2data = '/home/alepfu/Desktop/dataset/train_100_events/'

hits, cells, particles, truth = load_event(path2data + event_id)

print(hits.shape, 'hits file')
print(cells.shape, 'cells file')
print(particles.shape, 'particles file')
print(truth.shape, 'truth file')

(120939, 7) hits file
(664996, 4) cells file
(12263, 9) particles file
(120939, 9) truth file

### Hits file

In [4]:
hits.head(3)

   hit_id          x         y       z  volume_id  layer_id  module_id
0       1 -64.409897 -7.163700 -1502.5          7         2          1
1       2 -55.336102  0.635342 -1502.5          7         2          1
2       3 -83.830498 -1.143010 -1502.5          7         2          1

### Cells file

In [5]:
cells.head(3)

   hit_id  ch0  ch1     value
0       1  209  617  0.013832
1       1  210  617  0.079887
2       1  209  618  0.211723

### Particles file

In [6]:
particles.head(3)

,particle_id,vx,vy,vz,px,py,pz,q,nhits
0,4503668346847232,-0.009288,0.009861,-0.077879,-0.055269,0.323272,-0.203492,-1,8
1,4503737066323968,-0.009288,0.009861,-0.077879,-0.948125,0.470892,2.010060,1,11
2,4503805785800704,-0.009288,0.009861,-0.077879,-0.886484,0.105749,0.683881,-1,0

### Truth file

In [7]:
print('Rows in truth file = ', len(truth.index))
truth.head(3)

Rows in truth file =  120939

,hit_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,1,0,-64.411598,-7.164120,-1502.5,250710.000000,-149908.00000,-956385.0000,0.00000
1,2,22525763437723648,-55.338501,0.630805,-1502.5,-0.570605,0.02839,-15.4922,0.00001
2,3,0,-83.828003,-1.145580,-1502.5,626295.000000,-169767.00000,-760877.0000,0.00000

### Hits-Truth merge

In [8]:
hits_truth = pd.merge(truth, pd.DataFrame(hits), on = ['hit_id']).loc[:,["hit_id", "particle_id", "x", "y", "z"]]
hits_truth.shape

(120939, 5)

In [9]:
hits_truth.head(3)

   hit_id        particle_id          x         y       z
0       1                  0 -64.409897 -7.163700 -1502.5
1       2  22525763437723648 -55.336102  0.635342 -1502.5
2       3                  0 -83.830498 -1.143010 -1502.5

### Detector File

In [10]:
detector = pd.read_csv('/home/alepfu/Desktop/dataset/detectors.csv')
detector.shape

(18728, 21)

In [11]:
detector.head(3)

,volume_id,layer_id,module_id,cx,cy,cz,rot_xu,rot_xv,rot_xw,rot_yu,rot_yv,rot_yw,rot_zu,rot_zv,rot_zw,module_t,module_minhu,module_maxhu,module_hv,pitch_u,pitch_v
0,7,2,1,-65.7965,-5.17830,-1502.5,0.078459,-0.996917,0.0,-0.996917,-0.078459,0.0,0,0,-1,0.15,8.4,8.4,36,0.05,0.05625
1,7,2,2,-139.8510,-6.46568,-1502.0,0.046183,-0.998933,0.0,-0.998933,-0.046183,0.0,0,0,-1,0.15,8.4,8.4,36,0.05,0.05625
2,7,2,3,-138.6570,-19.34190,-1498.0,0.138156,-0.990410,0.0,-0.990410,-0.138156,0.0,0,0,-1,0.15,8.4,8.4,36,0.05,0.05625